@charset "utf-8";
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; border: 0; }
body { font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; }
ul, ol { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; display:block;}
a { text-decoration: none; color:#000; }
a { blr:expression(this.onFocus=this.blur())}
a { outline: none; }
html { overflow-x: hidden; overflow-y:hidden;font-size:62.5%;}
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
#mask {width:100%;height:100%;position: relative;left:0;top:0;background: #fff;z-index:200;}
#mask img {position: absolute;left:50%;top:50%;margin-left: -64px;margin-top: -64px;}
#home,#skill,#exp,#demo,#contact {background:url() scroll center center no-repeat;background-size: 100% 100%;width: 100%;height: 100%;overflow: hidden;}
#home {opacity: 0;}
#skill{background-image: url(../img/page2.jpg);}
#exp {background-image: url(../img/page3.jpg);}
#demo {background-image: url(../img/page4.jpg);}
#contact {background-image: url(../img/page5.jpg);}
@media screen and (min-width:961px){
.logo {position:fixed;left:45px;float: left;z-index:-1;opacity: 0;}
.logo i {width:130px;height:40px;background: url(../img/logo2.png) no-repeat;background-size: 100% 100%;display:inline-block;margin-top: 10px;}
.nav {position: fixed;width:100%;height:60px;background: rgba(105,130,158,0.0);left:0;top:40px;z-index:-1;opacity:0;}
.nav .bar {position: absolute;width:100%;height:120px;background: rgba(55,55,55,0.9);left:0;top:-60px;z-index:-1;opacity:0;box-shadow: 0 0 5px #000;}
.nav ul {margin-right: 20px;position: relative;overflow: hidden;float: right;z-index:99;}
.nav ul li{width:90px;font:bold 15px/60px "\5fae\8f6f\96c5\9ed1"; text-align: center;float: left;}
.nav ul li.active {background: #cbcdcb;}
.nav ul li a{display: block;color:#fff;}
.nav ul li a:hover{ color:#aaaaa9;}
.nav ul li.first{position: relative;}
.nav ul li.first .selected {position: absolute;bottom:0;left:0;width: 90px;border-bottom: 2px solid #b8b9bb;}
#bg {background: #a9a9a9;position: absolute;left:0;top:0;height:60px;z-index:-1;}
.subnav{position:fixed;top:50%;right:-10px;width: 10px;border-radius:30px;z-index:99;}
.subnav li{height:40px;text-align: center;line-height: 40px; }
.subnav li a{display: inline-block;width: 8px;height: 8px;border-radius: 50%;border:1px solid #fff;}
.subnav li.cur a{width: 9px;height: 9px;background:rgba(255,255,255,.8);}
#home_content,#skill_content,#exp_content,#demo_content,#contact_content {margin: 0 auto;width: 1024px;height: auto;position: relative;overflow:hidden;}
.writeword {position:absolute;padding-top:45px;width: 600px;height:100px; left: 50%;margin-left:-300px;line-height: 30px;font-size: 16px;text-indent:1rem;font-family: '\5fae\8f6f\96c5\9ed1';}
.writeword span{opacity:0;color:#6f6f6f;transition:0.3s all ease;}
#photo {width: 120px;height: 120px;border-radius: 50%;border: 2px solid #cbcbcb;overflow:hidden;float: left;margin-left: 120px;}
#photo img{width: 120px;}
#intro {margin: -200px auto;width: 800px;height:125px;opacity:0;}
.wel {font:24px "\5fae\8f6f\96c5\9ed1";color:#232323;float: left;margin-top: 60px;margin-left: 10px;}
#desk {width:0;border-top: 3px solid #585858;margin: 0 auto;opacity:0;}
.toggle{position: fixed;margin-left: -25px;left: 50%;bottom: 60px;width: 50px;height: 50px;}
.toggle img{ position: absolute;left: 13px;top: 0 width: 25px;height: 25px;opacity: 0;}
#prev,#next {display: none;}
.circle {width:150px;height:150px;margin: 30px auto;position: relative;}
.circle strong {position: absolute;font:bold 50px/180px "\5fae\8f6f\96c5\9ed1";color:#fff;left:23px;top:-13px;}
.skills {float: left;width:310px;height:430px;margin-right: 20px;margin-top: 700px;}
.skills .title {width:260px;height:70px;margin: 0 auto;}
.skills .name {color:#fff;font: bold 36px "\5fae\8f6f\96c5\9ed1";display: inline-block;vertical-align: 16px;}
.skills i,#exp .title i,#demo .title i,#contact i {width:64px;height:64px;display: inline-block;}
.skills i.html {background: url(../img/script.png) no-repeat;margin-left: 55px;}
.skills i.css {background: url(../img/effects.png) no-repeat;margin-left: 58px;}
.skills i.js {background: url(../img/layers.png) no-repeat;margin-left: 5px;}
.skills .desc li {opacity:0;font:14px/20px "\5fae\8f6f\96c5\9ed1";color:#fff;}
#exp .title,#demo .title,#contact .title {width:260px;height:70px;margin: 100px auto 20px;text-align: center;position: relative;}
#exp .title{right:-700px;}
#demo .title {top:-500px;right:-900px;}
#contact .title {top:-500px;}
#exp .title .name,#demo .title .name,#contact .title .name {color:#fff;font: bold 36px "\5fae\8f6f\96c5\9ed1";}
#exp .title i{ background: url(../img/project.png) no-repeat;vertical-align:-18px;}
#demo .title i {background: url(../img/demo.png) no-repeat;vertical-align:-18px;}
#contact .title i {background: url(../img/contact.png) no-repeat;vertical-align:-18px;}
.skills .title .line,#exp .title .line,#demo .title .line,#contact .title .line {width:0px;border-bottom: 3px solid #a9a9a9;margin: 10px auto;}
#focus_Box {position: relative; left:-1100px;height: 400px;}
#focus_Box .d_img { position: relative; margin: 0 auto; width: 1000px; height: 100%;}
#focus_Box .d_img li { position: absolute; display: none; z-index: 0;border: 3px solid #fff;overflow: hidden;}
#focus_Box .d_img .cont{ width:100%; height:20%; background:rgba(0,0,0,0.5); position:absolute; bottom:-363px; left:0px; text-align: center;font:30px/80px "\5fae\8f6f\96c5\9ed1";color:#eee;}
#focus_Box .d_img li img { width: 100%;-webkit-transform: scale(1.0);transform: scale(1.0);transition : transform 2s; }
#focus_Box .d_img li img:hover {-webkit-transform: scale(1.1);transform: scale(1.1);transition : transform 2s;}
#focus_Box .d_img li.d_pos1 { display: block; width: 400px; left: 0%; top: 80px; z-index: 1;}
#focus_Box .d_img li.d_pos2 { display: block; width: 450px; left: 6%; top: 60px; z-index: 2;}
#focus_Box .d_img li.d_pos3 { display: block; width: 600px; left: 20%; top: 20px; z-index: 3;}
#focus_Box .d_img li.d_pos4 { display: block; width: 450px; right: 6%; top: 60px; z-index: 2;}
#focus_Box .d_img li.d_pos5 { display: block; width: 400px; right: 0%; top: 80px; z-index: 1;}
#focus_Box .d_next { position: absolute; left: 50%; margin-left: 250px; top: 180px; z-index: 10; cursor: pointer }
#focus_Box .d_prev { position: absolute; left: 50%; margin-left: -295px; top: 180px; z-index: 10; cursor: pointer }
#demo .d_list{width: 100%;height:350px;overflow: hidden;position: absolute;opacity:0;padding-left:30px;}
#demo .d_list .item{width: 220px;height: 150px;float: left;color: #eee;font-size: 40px;font-family: "\0049\006d\0070\0061\0063\0074";position: relative;overflow:hidden;margin: 12px;}
#demo .d_list .item:before,#demo .d_list .item:after {position: absolute;width: 40px;height: 40px;content: "";}
#demo .d_list .item:before {top: 0px;left: 0px; border-top: 2px solid #b8b9bb; border-left: 2px solid #bfbfc1;}
#demo .d_list .item:after {bottom: 0px; right:0px; border-right: 2px solid #bfbfc1;border-bottom: 2px solid #b8b9bb;}
#demo .d_list .item div{width: 100%;height: 150px;position: absolute;left:-220px;background: #ddd;font:18px/185px "\5fae\8f6f\96c5\9ed1";color:#777;text-align: center;}
#demo .d_list .item img{width: 100%;}
#demo .d_list .item a {color:#eee;width:100%;height:100%;z-index:100;position: absolute;}
#demo .d_list .item:hover a{color:#999;}
#demo .d_list .item h3{margin: 0;position: absolute;right: 15px;top: 20px;font-family: "\5fae\8f6f\96c5\9ed1";}
#demo .d_list .item span{font-size: 18px;font-family: "\5fae\8f6f\96c5\9ed1";position: absolute;right: 10px;top:80px;}
#contact #me {width:0px;height:330px;position: relative;margin: 0 auto;overflow: hidden;border-left:3px solid #bfbfc1;border-right:3px solid #bfbfc1;opacity:0;}
#contact #me .p1 {margin: 20px 20px;width:770px;height:330px;position: relative;opacity: 0;}
#contact #me .p1 p {text-indent:2em;width:770px;font:16px "\5fae\8f6f\96c5\9ed1";color:#eee;}
#contact #me .p1 ul {position: absolute;right:10px;bottom:30px;}
#contact #me .p1 ul li {width:200px;height:25px;margin-bottom: 7px;font:14px "\5fae\8f6f\96c5\9ed1";color:#eee;position: relative;}
#contact #me .p1 p span {font:bold 18px "\5fae\8f6f\96c5\9ed1";}
#contact #me .p1 ul li a {color:#eee;}
#contact #me .p1 ul li span {width:64px; position: absolute;top:3px;left:-250px;opacity: 0;}
#contact #me .p1 ul li span img{width:100%;}
#contact #me .p1 ul li em {font-style:normal;opacity:0;position: absolute;left:-250px;bottom:-25px;font-size:24px;}
}
@media screen and (max-width:960px){
#home_content,#skill_content,#exp_content,#demo_content,#contact_content {box-sizing:border-box;margin: 0 auto;width: 960px;height: auto;position: relative;overflow:hidden;}
#home,#skill,#exp,#demo,#contact {background-size: cover;}
.logo {width:100%;text-align: center;}
.logo i {width:8rem;height:2.46rem;background: url(../img/logo2.png) no-repeat;background-size: 100% 100%;display:inline-block;margin: .5rem 0;}
.nav {width:100%;height:6.7rem;background:#42b574;position: fixed;left:0;top:0;z-index:99;display: none;}
.nav .bar {display: none;}
.nav ul {overflow: hidden;float: right;width:100%;height:3em;}
.nav ul li{width:20%;height:3rem;font:bold 1.5rem/3rem "\5fae\8f6f\96c5\9ed1"; text-align: center;float: left;overflow: hidden;}
.nav ul li.active,.nav ul li a:visited {background: #fff;}
.nav ul li.active a {color:#42b574;}
.nav ul li a{width:100%;height:100%;display: block;color:#fff;}
.nav ul li a:hover{ color:#30915a;}
#intro {height:12.5em;opacity:0;text-align: center;}
#photo {width: 80px;height: 80px;border-radius: 50%;border: 2px solid #cbcbcb;overflow:hidden;margin: 2rem auto;}
#photo img{width: 100%;}
.wel {font:2rem "\5fae\8f6f\96c5\9ed1";color:#232323;}
#desk {width:0;border-top: 3px solid #585858;opacity:0;}
.writeword {opacity:0;color:#6f6f6f;padding-top:45px;height:15rem; line-height: 3rem;font-size: 1.4rem;text-indent:1rem;font-family: '\5fae\8f6f\96c5\9ed1';}
.toggle{position: fixed;margin-left: -25px;left: 50%;bottom: 2rem;width: 50px;height: 50px;}
.toggle img{ position: absolute;left: 13px;top: 0; width: 25px;height: 25px;opacity: 0;}
#prev,#next {width:50px;height:50px;position: absolute;top:50%;margin-top: -25px;}
#prev {background: url(../img/prev.png) no-repeat;left:2.5rem;z-index:100;}
#next {background: url(../img/next.png) no-repeat;right:2.5rem;z-index:100;}
#skill_content {padding-top: 12rem;}
.skills {float: left;width:310px;height:430px;position: relative;}
.skills .title {width:260px;height:70px;margin: -140px auto 0;}
.skills .name {color:#fff;font: bold 36px "\5fae\8f6f\96c5\9ed1";display: inline-block;vertical-align: 16px;}
.skills i,#exp .title i,#demo .title i,#contact i {width:64px;height:64px;display: inline-block;}
.skills i.html {background: url(../img/script.png) no-repeat;margin-left: 45px;}
.skills i.css {background: url(../img/effects.png) no-repeat;margin-left: 58px;}
.skills i.js {background: url(../img/layers.png) no-repeat;}
.skills .desc li {opacity:1;font:14px/20px "\5fae\8f6f\96c5\9ed1";color:#fff;}
.circle {width:150px;height:150px;margin: 30px auto;position: relative;}
.circle strong {position: absolute;font:bold 50px/180px "\5fae\8f6f\96c5\9ed1";color:#fff;left:23px;top:-1.3rem;}
#exp .title,#demo .title,#contact .title {width:260px;height:70px;margin: -30px auto 10px;text-align: center;position: relative;}
#exp .title .name,#demo .title .name,#contact .title .name {color:#fff;font: bold 3rem "\5fae\8f6f\96c5\9ed1";}
#exp .title i{ background: url(../img/project.png) no-repeat;vertical-align:-18px;}
#demo .title i {background: url(../img/demo.png) no-repeat;vertical-align:-18px;}
#contact .title i {background: url(../img/contact.png) no-repeat;vertical-align:-18px;}
.skills .title .line,#exp .title .line,#demo .title .line,#contact .title .line {width:0px;border-bottom: 3px solid #a9a9a9;margin: 10px auto;}

#focus_Box {position:relative;width: 320px;height: 220px; margin: 0 auto; }
#focus_Box .d_img { position: relative;width: 300px; height: 100%;}
#focus_Box .d_img li { position: absolute; display: none; z-index: 0;overflow: hidden;border: 3px solid #ddd;}
#focus_Box .d_img .cont{ width:100%; height:20%; background:rgba(0,0,0,0.5); position:absolute; bottom:0; left:0px; text-align: center;font:20px/35px "\5fae\8f6f\96c5\9ed1";color:#eee;}
#focus_Box .d_img li img { width: 100%; }
#focus_Box .d_img li.d_pos1 { display: block; width: 200px; left: 0%; top: 20px; z-index: 1;}
#focus_Box .d_img li.d_pos2 { display: block; width: 250px; left: 0%; top: 20px; z-index: 2;}
#focus_Box .d_img li.d_pos3 { display: block; width: 320px; left: 0%; top: 20px; z-index: 3;}
#focus_Box .d_img li.d_pos4 { display: block; width: 250px; right: 0%; top: 20px; z-index: 2;}
#focus_Box .d_img li.d_pos5 { display: block; width: 200px; right: 0%; top: 20px; z-index: 1;}
#focus_Box .d_next { position: absolute; right: 0%; top: 43%; z-index: 10; cursor: pointer }
#focus_Box .d_prev { position: absolute; left: 1.5%; top: 43%;; z-index: 10; cursor: pointer }
#demo .d_list{width: 324px;height:auto;overflow: hidden;opacity:1;margin: 1.5rem auto 0;}
#demo .d_list .item{width: 150px;height: 80px;float: left;color: #eee;font-size: 40px;font-family: "\0049\006d\0070\0061\0063\0074";position: relative;overflow:hidden;margin: 6px;}
#demo .d_list .item:before,#demo .d_list .item:after {position: absolute;width: 20px;height: 20px;content: "";}
#demo .d_list .item:before {top: 0px;left: 0px; border-top: 2px solid #b8b9bb; border-left: 2px solid #bfbfc1;}
#demo .d_list .item:after {bottom: 0px; right:0px; border-right: 2px solid #bfbfc1;border-bottom: 2px solid #b8b9bb;}
#demo .d_list .item div{width: 100%;height: 80px;position: absolute;left:-220px;background: #ddd;font:18px/185px "\5fae\8f6f\96c5\9ed1";color:#777;text-align: center;}
#demo .d_list .item img{width: 100%;}
#demo .d_list .item a {color:#eee;width:100%;height:100%;z-index:100;position: absolute;}
#demo .d_list .item:hover a{color:#999;}
#demo .d_list .item h3{margin: 0;position: absolute;right: 15px;top: 10px;font-size:2.4rem;font-family: "\5fae\8f6f\96c5\9ed1";}
#demo .d_list .item span{font-size: 18px;font-family: "\5fae\8f6f\96c5\9ed1";position: absolute;right: 10px;top:50px;}
#contact #me {width:0px;height:auto;position: relative;margin: 3rem auto 0;overflow: hidden;border-left:3px solid #bfbfc1;border-right:3px solid #bfbfc1;opacity: 0;}
#contact #me .p1 {margin: 1rem;width:95%;height:auto;position: relative;opacity: 0;}
#contact #me .p1 p {text-indent:2em;width:95%;font:1.5rem "\5fae\8f6f\96c5\9ed1";color:#eee;}
#contact #me .p1 ul {margin-top: 1.5rem;}
#contact #me .p1 ul li {text-indent:2em;margin-bottom: .3rem;font:1.4rem "\5fae\8f6f\96c5\9ed1";color:#eee;}
#contact #me .p1 p span {font:bold 18px "\5fae\8f6f\96c5\9ed1";}
#contact #me .p1 ul li a {color:#eee;}
#contact #me .p1 ul li span {width:16px; display: inline-block;vertical-align: -4px;margin-right: 4px;}
#contact #me .p1 ul li span img{width:100%;}
#contact #me .p1 ul li em {font-style:normal;}
}
